<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal de notícias</title>
		</head>
	<body>

		<h1>Notícia</h1>
		<table>
			<tr>
				<td>ID</td>
				<td>Título</td>
				<td>Notícia</td>
			</tr>
			<% for(var i=0; i< noticia.length; i++) {%>
			<tr>
				<td><%= noticia[i].id_noticia  %></td>
				<td><%= noticia[i].titulo  %></td>
				<td><%= noticia[i].noticia  %></td>
			</tr>
			<% } %>
		</table>
	</body>
</html>